@page
@model covid19.Pages.Students.IndexModel

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].StudentIdNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].IsConfirmedInfected)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].IsSuspectedInfected)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Student)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentIdNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsConfirmedInfected)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsSuspectedInfected)
                    </td>
                    <td>
                        <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.SelectedEventLog != null)
    {
        <h3>Selected EventLogs</h3>
        <table class="table">
            <tr>
                <th>Timestamp</th>
                <th>Location</th>
            </tr>

            @foreach (var item in Model.SelectedEventLog)
            {
                <tr>
                    <td>
                        @item.TimeStamp
                    </td>
                    <td>
                        @item.Location.Name
                    </td>
                </tr>

            }

        </table>
    }
</body>
</html>
